*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 130%;
    /* 1rem=10px; 10px/16px default size=62.5% */
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom, #edeef3, #ced1d9);
}

.calculator {
    width: 450px;
    height: 600px;
    background-color: white;
    color: black;
    margin: 7% auto;
    border: none;
}

.calculator-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 30%;
    padding: 70px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

#actions {
    color: #cfd2da;
}
#answer {
    font-size: 230%;
}

.calculator-buttons {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #6dd0ab;
}

.row {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #ffffff; */
    height: 20%;
    width: 100%;
}
button {
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
    outline: 0;
    background-color: #6dd0ab;
    height: 100%;
    width: 25%;
    border: 1px solid #60b999;
    font-size: inherit;
    font-weight: 100;
}
button:hover:focus:active {
    background-color: #e56278;
}

.number:hover:focus:active {
    background-color: #5ccaf6;
}
